.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}
.header a{
    text-decoration: none;
    margin-left: 30px;
    color: white;
}

.header a:hover{
    color: orange;
    text-decoration: underline;
    text-underline-offset: 0.5em;
}